@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff2') format('woff2'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    font-family: Georgia;
}
#img_ecbti{
	width: 960px; 
	border-radius: 13px;
}

#inicio{
	background: #F0B336;
}

#img_nav{
    width: 400px;
}
.navegacion{
    
	width: 1000px;
	margin: 30px auto;
	
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	
	text-decoration: none;
}

.menu li a:hover{
	color: white;
	transition: all .1s;
    background: #F1722B;
    
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: negro;
	
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
    background: #F0B336;
    color: negro;
}#contenedor aside p strong {
	color: #000;
	text-align: justify;
}
#contenedor aside h1 strong {
	text-align: left;
}
#contenedor aside h1 strong .menu {
	font-size: 18px;
}
#contenedor aside p strong a {
	font-size: 18px;
}
#contenedor aside p strong {
	font-weight: bold;
}
#contenedor #principal article p strong {
	font-family: Arial, Helvetica, sans-serif;
}
#contenedor aside table tr td h3 {
	color: #000;
}
#contenedor aside table tr td p {
	color: #000;
}
#contenedor aside table tr td h2 a {
	color: #000;
}
.o {
	color: #000;
}
#contenedor aside table tr td h2 a {
	font-family: Georgia, "Times New Roman", Times, serif;
}
#contenedor aside table tr td h2 a {
	font-size: 14px;
}
#contenedor aside table tr td h2 .o {
	font-family: Georgia, "Times New Roman", Times, serif;
}
#contenedor aside table tr td h2 .o {
	font-size: 14px;
}
#contenedor aside table tr td h1 a {
	text-align: left;
	font-size: 14px;
}
#contenedor #principal article table tr td h1 a {
	font-size: 18px;
	color: #FFF;
	text-align: left;
}
#contenedor #principal article table tr td h2 a {
	font-size: 18px;
}
#contenedor #principal article table tr td h3 .o {
	color: #FFF;
}
#contenedor #principal article table tr td h3 a {
	font-size: 18px;
}
#contenedor #principal article table tr td h3 a {
	font-family: Georgia, "Times New Roman", Times, serif;
}
#contenedor #principal article table {
	text-align: center;
}
